# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


.env
api/todotree

# Test binary, built with `go test -c`
*.test
coverage.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

tmp/
access_token_for_debug

# Dependency directories (remove the comment below to include it)
# vendor/
